.row {
  @mixin clearfix;


  &--gutters{
    margin-right: -65px;
  }
  &--gutters > div {

      padding-right: 65px;
  }

  &--gutters-large{
    margin-right: -100px;
  }
  &--gutters-large > div{
    padding-right: 100px;
  }
  &--gutters-small{
    margin-right: -30px;
  }
  &--gutters-small > div{
    padding-right: 30px;
  }


  &__b-margin-until-medium{
    margin-bottom: 1rem;
    @mixin atSmall{
      margin-bottom: 0;
    }
  }
  


  &__medium-4 {

    &__image {
      width: 100%;
    }

    @mixin atSmall {
      float: left;
      width: 50%;
    }

    @mixin atMedium {
      width: 33.333%
    }
    }

    &__medium-4--testimonials{
      @mixin atMedium {
        float: left;
        width: 33.333%
      }
    }
    &__large-4--testimonials{
      @mixin atLarge {
        float: left;
        width: 33.333%
      }
    }




  &__medium-6{
    @mixin atSmall{
      float: left;
      width: 50%
    }
  }

  &__medium-8 {
    @mixin atMedium {
      float: left;
      width: 66.666%
    }

    @mixin atLarge {
      width: 60%
    }
  }

  /* Begin Eqaul Height Rules */

  &--equal-height-at-medium{
    @mixin atMedium{
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
 
  }

  &--equal-height-at-large{
    @mixin atLarge{
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
 
  }
 

}