.row {
  @mixin clearfix;


  &--gutters{
    margin-right: -65px;
  }
  &--gutters > div {

      padding-right: 65px;
  }

  &--gutters-large{
    margin-right: -100px;
  }
  &--gutters-large > div{
    padding-right: 100px;
  }

  &__b-margin-until-medium{
    margin-bottom: 1rem;
    @mixin atSmall{
      margin-bottom: 0;
    }
  }
  


  &__medium-4 {

    &__image {
      width: 100%;
    }

    @mixin atSmall {
      float: left;
      width: 50%;
    }

    @mixin atMedium {
      width: 33.333%
    }

    @mixin atLarge {
      width: 40%
    }
  }

  &__medium-6{
    @mixin atSmall{
      float: left;
      width: 50%
    }
  }

  &__medium-8 {
    @mixin atMedium {
      float: left;
      width: 66.666%
    }

    @mixin atLarge {
      width: 60%
    }
  }
 

}